<div class="container w-50 p-3 rounded mt-3" style="background-color: rgba(94, 169, 138, 1)">
    
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <h2>Informacion de la cuenta: {{user}}</h2>
        </li>
    </ul>
    </br>
    </br>
    <ul>
        <li>
            <h3><img src="{{avatar}}"></h3>
        </li>
        <li>
            <h3>Nombre:{{name}}</h3>
        </li>
        <li>
            <h3>Direccion:{{adress}}</h3>
        </li>
        <li>
            <h3>age:{{age}}</h3>
        </li>
        <li>
            <h3>Phone Number:{{phone}}</h3>
        </li>
    </ul>
</div>